# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
# python==3.6
numpy==1.19.2
matplotlib==3.3.4
pandas==1.2.3
pandas-datareader==0.9.0
dsge==0.1.3
# fortress==0.1.5

  
  

